body {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    height: 100%;
}

.container {
    align-content:center;
    justify-content: center;
    background-color: red;
}
